
/*TAG SELECTOR*/


video,audio{
	border-radius: 50px;
	border-style: inset;
	border-width: 10px; 

	width:600; 
	height:340;

}

a{
	color:#F0FFFF;
	font-size: 20px;
}

body {
	background-color: #2f4f4f;
}

p{
	color:white;
	font-size: 20px;
}

h2{
	border-style: solid;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px; 

	width: 90%;

	color: white;
	background-color: #1d3030;
	text-align: center;
}

label{
	font-family: verdana;
	color:white;
}

/*CLASS SELECTOR*/

.tbody-style{
	border-color: black;
	border-width: 5px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;

	padding: 10px;

	background-color: #696969;

}

.store{
	 width:100px; 
	 height:100px;
}


.title-logo{
 	height:200px;
  	width:98.5%;
	
}

.h1-design1{
	margin: 1px;

	border-style: solid;
	border-radius: 50px;
	border-color: #1d3030;

	padding: 5px;

	width: 98.5%;
	height: 40px;
	font-family:verdana;
	font-size: 30px;
	background-color: #1d3030;
	color: white;
	text-align: center;
}

.navigation{
	border-style:inset;: 
	border-color:#ffffff;
} 

.f-nav{
	padding: 1px;

	font-size: 25px;
	font-family: aharoni;	
}

.table-design1{
	border-color: white;
	border-style: inset;
	border-width: 5px;

	font-size: 20px;
	color: #f0f8ff;
}

.h3-design1{

	font-size: 30px;
}

.zombie-pics{
	border-radius: 50px;

	width:150px;
	 height:150px;
}

.minibutton{
	border-style: inset;
	border-width: 5px;
	border-radius: 50px;

	padding: 20px;

	background-color: #1d3030;
	
}

.side-photo{
	 width:200px; 
	 height:650px;
}

.style1{
	background-color: #F0FFF0;
}

.label-style{
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;

	padding: 44.5px;
}

.submit-style{
	border-style: inset;
	border-radius: 50px;
	border-width: 5px;

	background-color: #2F4F4F;
	color: white;
	font-size: 30px;
	font-family:Verdana;
	height: 50px;
	width: 250px;
}
.td-style{
	border-radius: 50px;
	border-style: inset;

	background-color: #2F4F4F;
	color: white;
	width: 200px;
	text-align: center;
}

.zombie-pictures{
	border-style: inset;
	border-width: 5px; 

	width: 900px;


}

/*PSEUDO CLASS*/

li:hover {
  color: red;

  }

li:active {
  color: blue;
}

.zombie-pics:hover{
transform: scale(1.3);


.submit-style:hover{
	color: lightblue;
}
